/* --- reset --- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p, div {
  word-break: break-all;
}

a {
  text-decoration: none;
}

input[type=text], select {
  border-radius: 3px;
  border: none;
  padding: 6px;
  font-size: inheirt;
  box-sizing: border-box;
}

input::placeholder {
  color: #B5B5B5;
  font-size: 12px;
}

pre {
  white-space: pre-wrap;
}

.clearfix {
  display: block;
}

.clearfix::before {
  content: "";
  display: block;
  clear: both;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.bx-wrapper {
  box-shadow: none !important;
}

.bx-controls-direction a {
  z-index: 0 !important;
}

* {
  font-family: "Zen Old Mincho", serif;
  font-size: 14px;
  font-weight: 400;
  color: #4A3B31;
  letter-spacing: 0.1em;
  line-height: 165%;
}

.acurry-pc {
  display: none !important;
}

html, body {
  width: 100vw;
}

.acurry-fv, main, section {
  width: 100%;
}

a {
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  * {
    font-size: 16px;
  }
  .acurry-sp {
    display: none !important;
  }
  .acurry-pc {
    display: block !important;
  }
}
html body .acurry-fv {
  height: 100vw;
  position: relative;
}
html body .acurry-fv img {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
html body .acurry-fv h1 {
  font-family: "fot-tsukuaoldmin-pr6n", sans-serif;
  font-size: 42px;
  color: #FFFFFF;
  line-height: 125%;
  position: absolute;
  bottom: 3.5vw;
  left: 5vw;
}
html body .acurry-fv h1 span {
  display: block;
  width: fit-content;
  padding: 5px 12.5px;
  margin-bottom: 7.5px;
  font-size: 14px;
  line-height: 100%;
  position: relative;
  z-index: 1;
}
html body .acurry-fv h1 span img {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
html body main.acurry_main {
  background-image: url(https://gigaplus.makeshop.jp/kitanoace/18_authenticcurry/assets/img/bg1.webp);
  padding-top: 50px;
}
html body main.acurry_main section.acurry-epilogue p {
  width: fit-content;
  padding: 35px 25px 30px 25px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 1;
}
html body main.acurry_main section.acurry-epilogue p img {
  width: 95vw;
  max-width: initial;
  height: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
html body main.acurry_main section.acurry-epilogue p span {
  position: relative;
  left: 7px;
}
html body main.acurry_main section.acurry-epilogue p::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  position: absolute;
  top: 0;
  left: 0;
}
html body main.acurry_main section.acurry-epilogue p::after {
  content: "";
  width: calc(100% - 25px);
  height: calc(100% - 25px);
  border: solid 1px #4A3B31;
  position: absolute;
  top: 12.5px;
  left: 12.5px;
}
html body main.acurry_main section.acurry-items {
  margin-top: 90px;
}
html body main.acurry_main section.acurry-items article {
  width: 100%;
  position: relative;
  z-index: 1;
}
html body main.acurry_main section.acurry-items article img.acurry-treat-bg2, html body main.acurry_main section.acurry-items article img.acurry-treat-bg4 {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-35px);
  z-index: -1;
}
html body main.acurry_main section.acurry-items article img.acurry-treat-text {
  width: 47.5%;
  position: absolute;
  top: 8.5px;
  left: 50%;
  transform: translate(-50%, -100%);
  opacity: 0.5;
}
html body main.acurry_main section.acurry-items article p.acurry-catchcopy {
  padding-top: 35px;
  font-size: 17.5px;
  color: #FFFFFF;
  letter-spacing: 0.05em;
  line-height: 165%;
  text-align: center;
}
html body main.acurry_main section.acurry-items article p.acurry-catchcopy span {
  display: block;
  width: 60%;
  height: fit-content;
  margin: 0 auto;
  line-height: 100%;
}
html body main.acurry_main section.acurry-items article .acurry-item-img {
  width: 90%;
  height: 90vw;
  margin: 35px auto 0 auto;
  position: relative;
}
html body main.acurry_main section.acurry-items article .acurry-item-img .acurry-treat-frame {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
html body main.acurry_main section.acurry-items article .acurry-item-img .acurry-item-pkg {
  width: auto;
  height: 31.5vw;
  box-shadow: 5px 5px 10px rgba(51, 51, 51, 0.25);
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(5px, 25px) rotate(5deg);
  z-index: 1;
}
html body main.acurry_main section.acurry-items article .acurry-item-info {
  background-image: url(https://gigaplus.makeshop.jp/kitanoace/18_authenticcurry/assets/img/bg3.webp);
  padding-bottom: 90px;
  position: relative;
}
html body main.acurry_main section.acurry-items article .acurry-item-info img.acurry-treat-bg3 {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-25px);
  z-index: 0;
}
html body main.acurry_main section.acurry-items article .acurry-item-info h2 {
  padding: 25px 0 0 5vw;
  font-size: 24.5px;
  letter-spacing: 0;
  line-height: 145%;
  position: relative;
}
html body main.acurry_main section.acurry-items article .acurry-item-info h2 span {
  display: block;
  font-size: 17.5px;
  line-height: 185%;
}
html body main.acurry_main section.acurry-items article .acurry-item-info p {
  width: 91%;
  margin: 12.5px auto 0 auto;
  position: relative;
}
html body main.acurry_main section.acurry-items article .acurry-item-info .acurry-price {
  margin: 22.5px auto 0 auto;
  display: flex;
  justify-content: end;
  align-items: end;
}
html body main.acurry_main section.acurry-items article .acurry-item-info .acurry-price span {
  margin: 0 3.5px;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-size: 24.5px;
  font-weight: 500;
  letter-spacing: 0;
  position: relative;
  top: -4px;
}
html body main.acurry_main section.acurry-items article .acurry-item-info .acutty-cta {
  width: 60%;
  height: 48px;
  background-color: #3A5B1A;
  margin: 35px auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  letter-spacing: 0;
  position: relative;
}
html body main.acurry_main section.acurry-items article .acurry-item-info .acutty-cta::before {
  content: "";
  width: calc(100% - 7.5px);
  height: calc(100% - 7.5px);
  border: solid 0.75px #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
html body main.acurry_main section.acurry-items article:nth-of-type(odd) {
  background-image: url(https://gigaplus.makeshop.jp/kitanoace/18_authenticcurry/assets/img/bg2.webp);
}
html body main.acurry_main section.acurry-items article:nth-of-type(even) {
  background-image: url(https://gigaplus.makeshop.jp/kitanoace/18_authenticcurry/assets/img/bg4.webp);
}
html body main.acurry_main .acurry-recommend {
  background-color: #FFFFFF;
  padding-top: 80px;
}
html body main.acurry_main .acurry-recommend h2 {
  padding-left: 16px;
  font-size: 24px;
  font-weight: 700;
  color: #333333;
}
html body main.acurry_main .acurry-recommend ul {
  width: calc(100% - 32px);
  margin: 40px auto 0 auto;
  display: flex;
  flex-wrap: wrap;
}
html body main.acurry_main .acurry-recommend ul li {
  width: calc(50% - 8px);
  margin-top: 40px;
}
html body main.acurry_main .acurry-recommend ul li a {
  display: block;
  color: #333333;
}
html body main.acurry_main .acurry-recommend ul li a h3 {
  padding-top: 3px;
}
html body main.acurry_main .acurry-recommend ul li:nth-of-type(even) {
  margin-left: 16px;
}
html body main.acurry_main .acurry-recommend ul li:nth-of-type(1), html body main.acurry_main .acurry-recommend ul li:nth-of-type(2) {
  margin-top: 0;
}
html body main.acurry_main .acurry-recommend .acurry-cta {
  display: block;
  width: 77.9vw;
  height: 48px;
  border-radius: 8px;
  background-color: #B8193F;
  margin: 24px auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: #FFFFFF;
}
html body main.acurry_main .acurry-recommend .acurry-cta:active {
  box-shadow: 0 0 0 0 transparent;
  transform: translateY(2px);
}
html body main.acurry_main .acurry-recommend:nth-last-of-type(1) {
  padding: 100px 0;
}

@media screen and (min-width: 768px) {
  html body .acurry-fv {
    height: initial;
  }
  html body .acurry-fv img {
    position: relative;
  }
  html body .acurry-fv h1 {
    font-size: 96px;
    text-align: center;
    top: 50%;
    bottom: initial;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  html body .acurry-fv h1 span {
    padding: 5px 12.5px;
    margin: 0 auto 12.5px auto;
    font-size: 24px;
  }
  html body main.acurry_main {
    background-image: url(https://gigaplus.makeshop.jp/kitanoace/18_authenticcurry/assets/img/responsive/bg1.webp);
    padding-top: 150px;
  }
  html body main.acurry_main section.acurry-epilogue p {
    padding: 25px 85px 25px 85px;
  }
  html body main.acurry_main section.acurry-epilogue p img {
    width: 35vw;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  html body main.acurry_main section.acurry-epilogue p span {
    left: 8px;
  }
  html body main.acurry_main section.acurry-items {
    margin-top: 200px;
  }
  html body main.acurry_main section.acurry-items article {
    padding-bottom: 175px;
  }
  html body main.acurry_main section.acurry-items article img.acurry-treat-bg2, html body main.acurry_main section.acurry-items article img.acurry-treat-bg4 {
    width: 75%;
    left: 50%;
    transform: translate(-50%, -32.5px);
  }
  html body main.acurry_main section.acurry-items article img.acurry-treat-text {
    width: 20%;
    top: 35px;
  }
  html body main.acurry_main section.acurry-items article p.acurry-catchcopy {
    padding-top: 100px;
    font-size: 28px;
  }
  html body main.acurry_main section.acurry-items article p.acurry-catchcopy span {
    width: 25%;
    margin: 25px auto 0 auto;
  }
  html body main.acurry_main section.acurry-items article .acurry-flex {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  html body main.acurry_main section.acurry-items article .acurry-flex .acurry-item-img {
    width: 30%;
    height: 30vw;
    margin: 0 0 0 0;
  }
  html body main.acurry_main section.acurry-items article .acurry-flex .acurry-item-img .acurry-item-pkg {
    height: 12vw;
    box-shadow: 7.5px 7.5px 7.5px rgba(51, 51, 51, 0.25);
    right: initial;
    left: 0;
    transform: translate(-35px, 35px) rotate(-5deg);
  }
  html body main.acurry_main section.acurry-items article .acurry-flex .acurry-item-info {
    width: 40%;
    background-image: none;
    padding-bottom: 0;
    margin-left: 2.5vw;
    z-index: 1;
  }
  html body main.acurry_main section.acurry-items article .acurry-flex .acurry-item-info img.acurry-treat-bg3 {
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
  }
  html body main.acurry_main section.acurry-items article .acurry-flex .acurry-item-info h2 {
    padding: 35px 0 0 5vw;
    font-size: 28px;
  }
  html body main.acurry_main section.acurry-items article .acurry-flex .acurry-item-info h2 span {
    font-size: 20px;
    color: #4A3B31;
  }
  html body main.acurry_main section.acurry-items article .acurry-flex .acurry-item-info p {
    width: calc(100% - 10vw);
  }
  html body main.acurry_main section.acurry-items article .acurry-flex .acurry-item-info .acurry-price {
    margin: 12.5px auto 0 auto;
  }
  html body main.acurry_main section.acurry-items article .acurry-flex .acurry-item-info .acurry-price span {
    font-size: 28px;
  }
  html body main.acurry_main section.acurry-items article .acurry-flex .acurry-item-info .acutty-cta {
    width: 16vw;
    margin: 25px auto 0 auto;
    transition-duration: 0.25s;
  }
  html body main.acurry_main section.acurry-items article .acurry-flex .acurry-item-info .acutty-cta:hover {
    opacity: 1;
    transform: scale(1.05);
  }
  html body main.acurry_main section.acurry-items article:nth-of-type(odd) {
    background-image: url(https://gigaplus.makeshop.jp/kitanoace/18_authenticcurry/assets/img/responsive/bg2.webp);
  }
  html body main.acurry_main section.acurry-items article:nth-of-type(even) {
    background-image: url(https://gigaplus.makeshop.jp/kitanoace/18_authenticcurry/assets/img/responsive/bg4.webp);
  }
  html body main.acurry_main section.acurry-items article:nth-of-type(even) .acurry-flex {
    flex-direction: row-reverse;
  }
  html body main.acurry_main section.acurry-items article:nth-of-type(even) .acurry-flex .acurry-item-img {
    margin-left: 2.5vw;
  }
  html body main.acurry_main section.acurry-items article:nth-of-type(even) .acurry-flex .acurry-item-img .acurry-item-pkg {
    right: 0;
    left: initial;
    transform: translate(35px, 35px) rotate(5deg);
  }
  html body main.acurry_main section.acurry-items article:nth-of-type(even) .acurry-flex .acurry-item-info {
    margin-left: 0;
  }
  html body main.acurry_main .acurry-recommend h2 {
    padding-left: 160px;
    font-size: 28px;
  }
  html body main.acurry_main .acurry-recommend ul {
    width: calc(100% - 320px);
  }
  html body main.acurry_main .acurry-recommend ul li {
    width: calc((100% - 80px) / 6);
    margin: 0 0 0 16px;
  }
  html body main.acurry_main .acurry-recommend ul li:nth-of-type(even) {
    margin-left: 16px;
  }
  html body main.acurry_main .acurry-recommend ul li:nth-of-type(1) {
    margin-left: 0;
  }
  html body main.acurry_main .acurry-recommend .acurry-cta {
    width: 22.8vw;
  }
  html body main.acurry_main .acurry-lp {
    padding-top: 100px;
  }
  html body main.acurry_main .acurry-lp ul li {
    width: calc((100% - 48px) / 4);
  }
}