@charset 'UTF-8';

@import './reset';

$black: #333333;
$black-a75: rgba(51, 51, 51, .75);
$black-a5: rgba(51, 51, 51, .5);
$black-a25: rgba(51, 51, 51, .25);
$white: #FFFFFF;
$white-a75: rgba(255, 255, 255, .75);
$white-a5: rgba(255, 255, 255, .5);
$white-a25: rgba(255, 255, 255, .25);
$brown: #4A3B31;
$green: #3A5B1A;

$font1: "fot-tsukuaoldmin-pr6n", sans-serif;
$font2: "Zen Old Mincho", serif;
$font3: "Zen Kaku Gothic Antique", sans-serif;

* {
    font-family: $font2;
    font-size: 14px;
    font-weight: 400;
    color: $brown;
    letter-spacing: .1em;
    line-height: 165%;
}

.acurry-pc {
    display: none !important;
}

html, body {
    width: 100vw;
}

.acurry-fv, main, section {
    width: 100%;
}

a {
    width: 100%;
    height: 100%;
}

img {
    width: 100%;
    max-width: 100%;
}

@mixin bg {
    background-size: cover;
    background-position: center;
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin absolute {
    position: absolute;
    top: 0;
    left: 0;
}

@mixin absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin font-l {
    font-size: 17.5px;
}

@mixin font-ll {
    font-size: 24.5px;
}

@mixin font-l-pc {
    font-size: 20px;
}

@mixin font-ll-pc {
    font-size: 28px;
}

@media screen and (min-width: 768px) {

    * {
        font-size: 16px;
    }

    .acurry-sp {
        display: none !important;
    }

    .acurry-pc {
        display: block !important;
    }
}
