@import './base';

html {

    body {
        
        .acurry-fv {
            height: 100vw;
            position: relative;

            img {
                height: 100%;
                @include absolute;
            }

            h1 {
                font-family: $font1;
                font-size: 42px;
                color: $white;
                line-height: 125%;
                position: absolute;
                bottom: 3.5vw;
                left: 5vw;

                span {
                    display: block;
                    width: fit-content;
                    padding: 5px 12.5px;
                    margin-bottom: 7.5px;
                    font-size: 14px;
                    line-height: 100%;
                    position: relative;
                    z-index: 1;

                    img {
                        height: 100%;
                        @include absolute;
                        z-index: -1;
                    }
                }
            }
        }

        main.acurry_main {
            background-image: url(https://gigaplus.makeshop.jp/kitanoace/18_authenticcurry/assets/img/bg1.webp);
            padding-top: 50px;

            section.acurry-epilogue {

                p {
                    width: fit-content;
                    padding: 35px 25px 30px 25px;
                    margin: 0 auto;
                    text-align: center;
                    position: relative;
                    z-index: 1;

                    img {
                        width: 95vw;
                        max-width: initial;
                        height: fit-content;
                        @include absolute-center;
                        z-index: -1;
                    }    

                    span {
                        position: relative;
                        left: 7px;
                    }

                    &::before {
                        content: '';
                        width: 100%;
                        height: 100%;
                        background-color: $white-a75;
                        @include absolute;
                    }

                    &::after {
                        content: '';
                        width: calc(100% - 25px);
                        height: calc(100% - 25px);
                        border: solid 1px $brown;
                        position: absolute;
                        top: 12.5px;
                        left: 12.5px;
                    }
                }
            }

            section.acurry-items {
                margin-top: 90px;

                article {
                    width: 100%;
                    position: relative;

                    img.acurry-treat-bg2, img.acurry-treat-bg4 {
                        width: 60%;
                        position: absolute;
                        top: 1px;
                        left: 50%;
                        transform: translate(-50%, -100%);
                    }

                    img.acurry-treat-text {
                        width: 52.5%;
                        position: absolute;
                        top: 7.5px;
                        left: 50%;
                        transform: translate(-50%, -100%);
                        opacity: .5;
                    }

                    p.acurry-catchcopy {
                        padding-top: 35px;
                        @include font-l;
                        color: $white;
                        letter-spacing: .05em;
                        line-height: 165%;
                        text-align: center;

                        span {
                            display: block;
                            width: 60%;
                            height: fit-content;
                            margin: 0 auto;
                            line-height: 100%;
                        }
                    }

                    .acurry-item-img {
                        width: 90%;
                        height: 90vw;
                        margin: 35px auto 0 auto;
                        position: relative;

                        .acurry-treat-frame {
                            width: 100%;
                            height: 100%;
                            @include absolute-center;
                        }

                        .acurry-item-pkg {
                            width: auto;
                            height: 31.5vw;
                            box-shadow: 5px 5px 10px $black-a25;
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            transform: translate(5px, 25px) rotate(5deg);
                            z-index: 1;
                        }
                    }

                    .acurry-item-info {
                        background-image: url(https://gigaplus.makeshop.jp/kitanoace/18_authenticcurry/assets/img/bg3.webp);
                        padding-bottom: 90px;
                        position: relative;

                        img.acurry-treat-bg3 {
                            width: 100%;
                            position: absolute;
                            top: 1px;
                            left: 0;
                            transform: translateY(-100%);
                        }

                        h2 {
                            padding: 25px 0 0 5vw;
                            @include font-ll;
                            letter-spacing: 0;
                            line-height: 145%;

                            span {
                                display: block;
                                @include font-l;
                                line-height: 185%;
                            }
                        }

                        p {
                            width: 91%;
                            margin: 12.5px auto 0 auto;
                        }

                        .acurry-price {
                            margin: 22.5px auto 0 auto;
                            display: flex;
                            justify-content: end;
                            align-items: end;

                            span {
                                margin: 0 3.5px;
                                font-family: $font3;
                                @include font-ll;
                                font-weight: 500;
                                letter-spacing: 0;
                                position: relative;
                                top: -4px;
                            }
                        }

                        .acutty-cta {
                            width: 60%;
                            height: 48px;
                            background-color: $green;
                            margin: 35px auto 0 auto;
                            @include center;
                            color: $white;
                            letter-spacing: 0;
                            position: relative;

                            &::before {
                                content: '';
                                width: calc(100% - 7.5px);
                                height: calc(100% - 7.5px);
                                border: solid .75px $white;
                                @include absolute-center;
                            }
                        }
                    }
                }

                article:nth-of-type(odd) {
                    background-image: url(https://gigaplus.makeshop.jp/kitanoace/18_authenticcurry/assets/img/bg2.webp);
                }

                article:nth-of-type(even) {
                    background-image: url(https://gigaplus.makeshop.jp/kitanoace/18_authenticcurry/assets/img/bg4.webp);
                }
            }

            .acurry-recommend {
                background-color: $white;
                padding-top: 80px;

                h2 {
                    padding-left: 16px;
                    font-size: 24px;
                    font-weight: 700;
                    color: $black;
                }

                ul {
                    width: calc(100% - 32px);
                    margin: 40px auto 0 auto;
                    display: flex;
                    flex-wrap: wrap;

                    li {
                        width: calc(50% - 8px);
                        margin-top: 40px;

                        a {
                            display: block;
                            color: $black;

                            h3 {
                                padding-top: 3px;
                            }
                        }
                    }

                    li:nth-of-type(even) {
                        margin-left: 16px;
                    }

                    li:nth-of-type(1), li:nth-of-type(2) {
                        margin-top: 0;
                    }
                }

                .acurry-cta {
                    display: block;
                    width: 77.9vw;
                    height: 48px;
                    border-radius: 8px;
                    background-color: $red;
                    margin: 24px auto 0 auto;
                    @include center;
                    font-weight: 700;
                    color: $white;

                    &:active {
                        box-shadow: 0 0 0 0 transparent;
                        transform: translateY(2px)
                    }           
                }
            }

            .acurry-recommend:nth-last-of-type(1) {
                padding: 100px 0;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    
    html {

        body {

            .acurry-fv {
                height: initial;

                img {
                    position: relative;
                }

                h1 {
                    font-size: 96px;
                    text-align: center;
                    top: 50%;
                    bottom: initial;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    
                    span {
                        padding: 5px 12.5px;
                        margin: 0 auto 12.5px auto;
                        font-size: 24px;
                    }
                }
            }

            main.acurry_main {
                background-image: url(https://gigaplus.makeshop.jp/kitanoace/18_authenticcurry/assets/img/responsive/bg1.webp);
                padding-top: 150px;

                section.acurry-epilogue {

                    p {
                        padding: 25px 85px 25px 85px;

                        img {
                            width: 35vw;
                            height: fit-content;
                            @include absolute-center;
                            z-index: -1;
                        } 

                        span {
                            left: 8px;
                        }
                    }
                }

                section.acurry-items {
                    margin-top: 200px;

                    article {
                        padding-bottom: 175px;

                        img.acurry-treat-bg2, img.acurry-treat-bg4 {
                            width: 25%;
                        }

                        img.acurry-treat-text {
                            width: 22.5%;
                            top: 12.5px;
                        }

                        p.acurry-catchcopy {
                            padding-top: 100px;
                            @include font-l-pc;

                            span {
                                width: 25%;
                                margin: 25px auto 0 auto;
                            }
                        }

                        .acurry-flex {
                            margin-top: 50px;
                            @include center;
                            
                            .acurry-item-img {
                                width: 30%;
                                height: 30vw;
                                margin: 0 0 0 0;

                                .acurry-item-pkg {
                                    height: 12vw;
                                    box-shadow: 7.5px 7.5px 7.5px $black-a25;
                                    right: initial;
                                    left: 0;
                                    transform: translate(-35px, 35px) rotate(-5deg);
                                }
                            }

                            .acurry-item-info {
                                width: 40%;
                                background-image: none;
                                padding-bottom: 0;
                                margin-left: 2.5vw;
                                z-index: 1;

                                img.acurry-treat-bg3 {
                                    top: 50%;
                                    transform: translateY(-50%);
                                    z-index: -1;
                                }

                                h2 {
                                    padding: 35px 0 0 5vw;
                                    @include font-ll-pc;

                                    span {
                                        @include font-l-pc;
                                        color: $brown;
                                    }
                                }

                                p {
                                    width: calc(100% - 10vw);
                                }

                                .acurry-price {
                                    margin: 12.5px auto 0 auto;

                                    span {
                                        @include font-ll-pc;
                                    }
                                }

                                .acutty-cta {
                                    width: 16vw;
                                    margin: 25px auto 0 auto;
                                    transition-duration: .25s;

                                    &:hover {
                                        opacity: 1;
                                        transform: scale(1.05);
                                    }
                                }
                            }
                        }
                    }

                    article:nth-of-type(odd) {
                        background-image: url(https://gigaplus.makeshop.jp/kitanoace/18_authenticcurry/assets/img/responsive/bg2.webp);
                    }

                    article:nth-of-type(even) {
                        background-image: url(https://gigaplus.makeshop.jp/kitanoace/18_authenticcurry/assets/img/responsive/bg4.webp);

                        .acurry-flex {
                            flex-direction: row-reverse;

                            .acurry-item-img {
                                margin-left: 2.5vw;

                                .acurry-item-pkg {
                                    right: 0;
                                    left: initial;
                                    transform: translate(35px, 35px) rotate(5deg);
                                }
                            }

                            .acurry-item-info {
                                margin-left: 0;
                            }
                        }
                    }
                }

                .acurry-recommend {

                    h2 {
                        padding-left: 160px;
                        font-size: 28px;
                    }

                    ul {
                        width: calc(100% - 320px);

                        li {
                            width: calc((100% - (16px * 5)) / 6);
                            margin: 0 0 0 16px;
                        }

                        li:nth-of-type(even) {
                            margin-left: 16px;
                        }
    
                        li:nth-of-type(1) {
                            margin-left: 0;
                        }
                    }

                    .acurry-cta {
                        width: 22.8vw;
                    }
                }

                .acurry-lp {
                    padding-top: 100px;

                    ul {

                        li {
                            width: calc((100% - (16px * 3)) / 4);
                        }
                    }
                }
            }
        }
    }
}
